<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->

{% if user.is_authenticated %}
<li class="nav-item mr-1">
    <div class="dropdown">
        <a class="btn btn-light rounded-0"
                type="button" id="tutorial_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="far fa-question-circle fa-lg"></i>
        </a>
        <div class="dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="project_selector">
            <a class="dropdown-item" href="#!">Item 1</a>
            <a class="dropdown-item" href="#!">Item 2</a>
            <a class="dropdown-item" href="#!">Item 3</a>
        </div>
    </div>
</li>
<li class="nav-item mr-1">
    <div class="dropdown">
        <a class="btn btn-light rounded-0"
                type="button" id="options_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-th fa-lg"></i>
        </a>
        <div class="dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="project_selector">
            <a class="dropdown-item" href="#!">Item 1</a>
            <a class="dropdown-item" href="#!">Item 2</a>
            <a class="dropdown-item" href="#!">Item 3</a>
        </div>
    </div>
</li>
<li class="nav-item mr-1">
    <div class="dropdown">
        <a class="btn btn-light rounded-0"
                type="button" id="options_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-lg"></i>
        </a>
        <div class="dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="notifications">
            <a class="dropdown-item" href="#!">Item 1</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="dropdown">
        <a class="btn btn-light rounded-0"
                type="button" id="project_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-power-off fa-lg"></i>
        </a>
        <div class="dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="project_selector">
            <a class="dropdown-item" onclick="
                addTabWithCheck('Workplaces','/ajax/wp','workplaces');
                " href="#!">My workplaces</a>
            <a class="dropdown-item" href="#!">My profile</a>
            <a class="dropdown-item" onclick="
                addTabWithCheck('Administration','/ajax/admin','admin');
                " href="#!">Administration</a>
            <a class="dropdown-item" href="/logout">Log out</a>
        </div>
    </div>
</li>
{% else %}
<li class="nav-item mr-1">
    <div class="dropdown">
        <a class="btn btn-light rounded-0"
                type="button" id="tutorial_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="far fa-question-circle fa-lg"></i>
        </a>
        <div class="dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="project_selector">
            <a class="dropdown-item" href="#!">Item 1</a>
            <a class="dropdown-item" href="#!">Item 2</a>
            <a class="dropdown-item" href="#!">Item 3</a>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="dropdown">
        <a class="btn btn-light dropdown-toggle rounded-0"
                type="button" id="project_selector" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="mr-3 text-dark fas fa-key "></i>Login
        </a>
        <div style="min-width: 300px;" class="p-3 dropdown-menu animated fadeIn dropdown-menu-right rounded-0" aria-labelledby="project_selector">
            <form method="POST" action="/login">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="login">Username :</label>
                        <input type="text" class="form-control rounded-0" id="login" name="id">
                    </div>

                    <div class="form-group">
                        <label for="password">Password :</label>
                        <input type="password" class="form-control rounded-0" id="password" name="password">
                    </div>

                    <div class="form-check mb-3 float-right">
                        <input class="form-check-input" type="checkbox" id="gridCheckContext_remember" name="remember">
                        <label class="form-check-label" for="gridCheckContext_remember">
                            Remember me
                        </label>
                    </div>

                    <button id="submit" type="submit" class="btn btn-primary rounded-0">Log in</button>
            </form>
        </div>
    </div>
</li>
{% endif %}
