{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
 <div id="messages_handler" class="pb-5 position-absolute fixed-bottom" style="z-index: 0;">

 <script type="text/javascript">
 {% for message in messages %}
 {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
 addMessage('{{ message }}', 'danger');
 {% endif %}
 {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
 addMessage('{{ message }}', 'warning');
 {% endif %}
 {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
 addMessage('{{ message }}', 'success');
 {% endif %}
 {% endfor %}
 </script>
 </div>
<footer id="footer">
   <div class="container-fluid text-left text-md-left p-2 text-white bg-dark" style="">
       <div class="row">
           <div class="col-6">
               <a class="btn" href="#" data-toggle="modal" data-target="#Modal_license"><i class="fas fa-info-circle fa-lg text-primary"></i></a>
               <a class="btn" href="#" data-toggle="modal" data-target="#Modal_mail"><i class="fas fa-at fa-lg text-primary"></i></a>
               <a class="btn" href="#" data-toggle="modal" data-target="#Modal_discord"><i class="fab fa-discord fa-lg text-primary"></i></a>
               <a class="btn" href="#" data-toggle="modal" data-target="#Modal_phone"><i class="fas fa-phone fa-lg text-primary"></i></a>
               <a class="btn" href="#" data-toggle="modal" data-target="#Modal_help"><i class="fas fa-hands-helping fa-lg text-primary"></i></a>
           </div>
           <div class="footer-copyright text-right col-6 pt-1">© {% now "Y" %} Copyright:
               <a href="#"> Thibaud FAURIE</a>
           </div>
       </div>
   </div>
</footer>
