{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<div class="row mr-1 ml-1 h-100">
	<div class="col-12 card card-default rounded-0 p-0 h-100">
		<div class="card-header">
			<div class="tabbable">
				<ul class="nav nav-tabs card-header-tabs" id="dashboard-tab">
					<li class="nav-item">
						<a id="addTab" class="nav-link rounded-0 mt-1 ml-1 mr-1 pb-1" href="#">
						<i class="text-secondary fas fa-plus fa-sm pb-1"></i></a>
					</li>
				</ul>
			</div>

		</div>

		<div class="card-body p-0 m-0 border-0 h-75">
			<div class="tab-content p-1 h-100" id="dashboard-tab-content">

			</div>
		</div>
	</div>
</div>
