{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
 <div class="dropdown-menu text-10 dropdown-menu-sm rounded-0" id="tab-context-menu">
    <a class="dropdown-item" href="#" onclick='
      bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){removeTab($(currentConfirmObject).find(".closeTab"));}}, className:"square-modal"});
    '>Close tab</a>
    <a class="dropdown-item" href="#" onclick='
      bootbox.confirm({size: "small",message: "Are you sure?",callback: function(result){ if(result){clearAllTabs();}}, className:"square-modal"});
    '>Close all tabs</a>
 </div>
