{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<div class="modal fade" id="Modal_discord" tabindex="-1" role="dialog" aria-labelledby="Modal_discord"
    aria-hidden="true">
    <div class="modal-dialog modal-lg square-modal" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="Modal_discord">Discord</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="height: 800px; overflow-y: scroll;>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://discordapp.com/widget?id=542714748295315458&theme=dark" width="740" height="740" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
