{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<div class="container-fluid m-0 p-1 border h-100">
    <div id="admin_panel" class="card m-0 p-0 rounded-0 h-100">
      <div class="card-header h-4">
        Administration panel
      </div>
      <div class="container-fluid h-100 card-body m-0 pt-2 pb-2">
        <div class="row h-100">
          <div class="col-3 p-0">
            <div class="mr-1 border h-100" style="overflow-y: auto;">
            </div>
          </div>
          <div class="col-9 p-0">
            <div class="border h-100" style="overflow-y: scroll;">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
