{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <title>OGDT {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
</head>
<body style="overflow: hidden;">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% include "manager/modal/ContextualMenu.html"%}
{% block header %}
{% include "manager/utils/Header.html"%}
{% endblock header %}

{% include "manager/modal/License.html"%}
{% include "manager/modal/Discord.html"%}
{% include "manager/modal/Phone.html"%}

{% block content %}
{% endblock content %}

{% block footer %}
{% include "manager/utils/Footer.html"%}
{% endblock footer %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootbox.all.min.js' %}"></script>
<script src="{% static 'js/fontawesome.min.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</body>
</html>
