{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}
<div class="container-fluid m-0 p-1 border h-100" style="overflow-y: scroll;">
  {% if workplaces|length == 0 %}
  <div class="col-12 jumbotron jumbotron-fluid rounded-0 text-center">
      <h1>No workplace were found...</h1>
      <p class="lead">It seams that your profile is not assigned to any workplace. Ask your administrator if you think it is an error.</p>
  </div>
  {% else %}
  <div class="col-12 jumbotron jumbotron-fluid rounded-0 text-center">
      <h1>Your workplaces</h1>
      <p class="lead">Register to one of your workplace to start working.</p>
  </div>
  <div id="workplaces_list" class="container pt-5 text-center">
    {% for workplace in workplaces %}
    <div class="col-lg-4 col-md-6 col-sm-12" style="display: inline-block;">
      <div class="card {% if request.session.workplace|add:0 == workplace.id %} border-success {% endif %} mb-4 rounded-0">
          <div class="card-header {% if request.session.workplace|add:0 == workplace.id %} bg-success {% endif %} h4 text-center rounded-0">
              {{ workplace.label }}
          </div>
          <div class="card-body">
              <div class="row mb-2">
                  <div class="col-6">
                      <p class="card-text">
                        <b>Social status :</b> {{ workplace.owner_type|title }}
                      </p>
                      <p>
                        <b>Creation date : </b> {{ workplace.created_at }}
                      </p>
                  </div>
                  <div class="col-6">
                      <img src="holder.js/120x120" alt="..." class="img-thumbnail rounded-0 float-right">
                  </div>
              </div>
              {% if request.session.workplace|add:0 == workplace.id %}
              <button onclick="registerWorkplace({{ workplace.id }}, this)" class="btn btn-success text-white rounded-0 btn-block" disabled>Registered</button>
              {% else %}
              <button onclick="registerWorkplace({{ workplace.id }}, this)" class="btn btn-secondary text-white rounded-0 btn-block"><i class="fas fa-check"></i></button>
              {% endif %}

          </div>
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}
</div>
