{% extends "manager/BaseLayout.html" %}
{% comment %}
<!--
OpenGDToolbox : collaborative web app made for game creators to simplify game
design work flow and collaboration.
Copyright (C) 2019 Thibaud FAURIE

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program. If not, see <https://www.gnu.org/licenses/>.
 -->
{% endcomment %}

{% block title %}
Workspace
{% endblock title %}

{% block content %}

<div class="container-full" style="height: calc(100% - 110px);">
{% include "manager/utils/WorkspaceTab.html" %}
</div>

{% endblock content %}

{% load static %}
{% block scripts %}
<script src="{% static 'js/tab.js' %}"></script>
<script src="{% static 'js/holder.js' %}"></script>
<script src="{% static 'js/workplace_selector.js' %}"></script>
<script src="{% static 'js/workgroup_selector.js' %}"></script>
<script src="{% static 'js/project_selector.js' %}"></script>
<script>
			loadTabs();
			$('#workgroup_dropdown').trigger('content:reload');
			$('#project_dropdown').trigger('content:reload');
</script>
{% endblock scripts %}
